<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/logout_errors.css">
  </head>
  <body class="bg-secondary">
      <section>
        <body class="bg-secondary">
          <section>
              <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                  <a class="navbar-brand text-warning" href="/">Founder's Square Security</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  </button>
                </nav>
            </section>
            <section>
              <div class="anot vertical-center">
                <form class="logout-container" action="/logout_process" method="POST">
                  {% csrf_token %}
                    <h4>Log Out</h4>
                    <div class="align-middle border-bottom">
                      <div class="form-row col-md-12 align-middle">
                          <div class="form-group col-md-12">
                            <label for="inputEmail4">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="John Smith">
                          </div>
                        </div>
                        <div class="form-row col-md-12 align-middle">
                          <div class="form-group col-md-12">
                            <label for="inputEmail4">User</label>
                            <input type="text" name="username" class="form-control" placeholder="johnsmith123">
                          </div>
                        </div>
                        </div>
                        <button type="submit" class="btn btn-danger col text-center">Log Out</button>
                        <a href="/" class="mt-2 col btn btn-dark btn-lg">Take me to login</a>
                      </form>
              </div>
            </section>
          <div class="error-container">
            <div class="card text-white bg-danger mb-3" style="max-width: 24rem; height: 16rem;">
              <div class="card-header">Whoa There!</div>
              <div class="card-body">
                <h5 class="card-title">Error Logging Out</h5>
                {% for message in messages %}   
                <p class="card-text">{{ message }}</p>
                {% endfor %}
              </div>
          </div>   
      </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

      $(document).ready(function(){
      
      $("#b1").click(function(){
      $.ajax({
      method: "GET",
      url: "type your python script path here",
      data: {"place" : value},
      dataType: "text",

      success: function(result){
      var data=JSON.parse(result);
      console.log(result);
      }
      });
      });
      </script>
  </body>
</html>